.field{
    width: 100%;
    overflow: hidden;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgb(185, 241, 185); 
    cursor: pointer;
}
.field>span{
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    z-index: 1000;
    color: rgba(41, 41, 41, 0.521);
}
.ball{
    position: absolute;
    right: 60%;
    z-index: 10;
    
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-color: rgb(99, 99, 247);
}
.ring{
    background-color: yellow;
    height: 20px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    right: 10px;
}
.ring-small{
    background-color: transparent !important;
    right: 35px;
    border:5px solid yellow;
}
.scored{
    border-color: green;
    height: 40px;
    width: 150px;
}
.container{
    max-width: unset;
    margin: 0;
}